[Unit]
Description=Duplicity backup - daily

[Service]
Type=oneshot
ProtectSystem=strict
PrivateTmp=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=yes
SyslogIdentifier=%N
Nice=10
IOSchedulingClass=idle
Environment=PYTHONPATH=/snap/duplicity/current//usr/local/duplicity.venv/lib/python3.12/site-packages:/snap/duplicity/current/usr/lib/python3/dist-packages
EnvironmentFile=/usr/local/etc/duplicity-password
# TODO: change --encrypt-key to use e-mail once https://gitlab.com/duplicity/duplicity/-/commit/9aacccde9159c883f69e357b69ff642cacfb465d is released
ExecStart=/snap/duplicity/current//usr/local/duplicity.venv/bin/python3.12 /snap/duplicity/current//usr/local/duplicity.venv/bin/duplicity --metadata-sync-mode partial --gpg-options '--compress-algo none' --encrypt-key A7C543D04D7ABBD0C36581B4862C0107CB0DD84F --exclude /mnt/dumptruck --exclude /proc --exclude /sys incr / multi:///usr/local/etc/duplicity-multi.json?mode=mirror
