[Unit]
Description=Duplicity backup - daily

[Service]
Type=oneshot
ProtectSystem=strict
PrivateTmp=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
SyslogIdentifier=%N
Nice=10
IOSchedulingClass=idle
Environment=PYTHONPATH=/snap/duplicity/current//usr/local/duplicity.venv/lib/python3.12/site-packages:/snap/duplicity/current/usr/lib/python3/dist-packages
EnvironmentFile=/usr/local/etc/duplicity-password
ExecStart=/snap/duplicity/current//usr/local/duplicity.venv/bin/python3.12 /snap/duplicity/current//usr/local/duplicity.venv/bin/duplicity \
  --metadata-sync-mode partial \
  --use-gpgsm \
  --encrypt-key eigma@foulab.org \
  --exclude /proc \
  --exclude /sys \
  --exclude /tmp/duplicity** \
  incr / \
  multi:///usr/local/etc/duplicity-multi.json?mode=mirror
